FRONTEND_HOST_PORT=5184
BACKEND_HOST_PORT=18011
TZ=Asia/Shanghai
USE_TASK_QUEUE=false
USE_TASK_QUEUE_STUDIO=
USE_TASK_QUEUE_AGENT=
USE_TASK_QUEUE_MODULE=
TASK_QUEUE_POLL_INTERVAL_MS=500
TASK_QUEUE_WAIT_TIMEOUT_SEC=600
CORS_ALLOW_ORIGINS=*
